<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>1994-2018 MX Elections - Dashboard</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script><link rel="stylesheet" href="style.css">
  <script src="https://d3js.org/d3.v4.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Dashboard <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">About</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <h2 class="text-center"><i>Dashboard</i><br>
    <b>Mexico's Presidential Elections Overview 1994-2018</b></h2>
  </div>

  <div class="container">
    <h5 class="text-center">Choose the election year you want to visualize:</h5>
  </div>
  <div class="col-16 d-flex justify-content-center">
  <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" onclick="location.href='1994elections.html'">1994</button>
    <button type="button" class="btn btn-secondary" onclick="location.href='2000elections.html'">2000</button>
    <button type="button" class="btn btn-secondary" onclick="location.href='2006elections.html'">2006</button>
    <button type="button" class="btn btn-secondary" href="2012election">2012</button>
    <button type="button" class="btn btn-primary" onclick="location.href='index.html'"> 2018</button>
  </div>
</div>

<!-- The div where we will inject our map -->
<div id="mapid"></div>

<div class="container">
    <div class="row">
      <div class="col">
        <div id="my_dataviz"></div>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script type="text/javascript" src="logic.js"></script>
      </div>
      <div class="col text-center">
      <p>
          <h5>2018 Elections</h5><br>
          López Obrador won the election on 1 July 2018 with over 50% of the popular vote. In terms of states won, López Obrador won in a landslide, carrying 30 out of 31 states plus Mexico City, the most federal entities won by a candidate since Ernesto Zedillo won every state in the 1994 election.<BR> It was one of the largest election days in Mexican history, with most of the nation's states holding state and local elections on the same day, including nine governorships, with over 3,400 positions subject to elections at all levels of government.
      </p>
        <img src="2018elections.jpeg" alt="2018 Elections" style="width:300px;height:200px;" class="photos">
    </div>
    </div>

<div class="footer">
    <p>2020 - Data Bootcamp P2</p>
</div>

  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>
  <!-- API key -->
  <!--<script type="text/javascript" src="config.js"></script>-->
  <!-- Our JS -->
  <script type="text/javascript" src="logic.js"></script>
</body>

</html>